<div class="comment_div">
<% Comment.all.each do |usercomment| %>
  <% if usercomment.receiver_id == page_owner %>
  <%= usercomment.sender_id %> said:
  <%= usercomment.content %><br>
  <% end %>
</div>
<% end %>

