<form id="add<%= @user.username%>" method="post" action="/addfriend/<%= @user.id %>">
  <input type="hidden" name="_method" value="post">
  <div class="submit"><input type="submit" value="Friend"></div>
</form>
