<div class="container">
  <div class="box">
  <% if current_user %>
  <a href="/logout" id="logout">Logout</a>
  <%else%>
  <a href="/" id="login">Login</a>| Signup<br><br>

  <form id="sign-up" method="post" action="/signup">
    <label class="label" for="username">ballername</label>
      <input type="text" name="user[username]" placeholder="ex. Swaggy P">
    <br>

    <label class="label" for="email">E-mail</label>
      <input type="email" name="user[email]" placeholder="ex. b@bird.com">
    <br>

    <label class="label" for="password">Password</label>
      <input type="password" name="user[password]" placeholder="password">
    <br>

    <label class="label" for="first_name">First Name</label>
      <input type="text" name="user[first_name]" placeholder="Nick">
    <br>

    <label class="label" for="last_name">Last Name</label>
      <input type="text" name="user[last_name]" placeholder="Young">
    <br>

    <label class="label" for="age">age</label>
      <input type="text" name="user[age]" placeholder="29">
    <br>

    <label class="label" for="height">Height</label>
      <input type="text" name="user[height]" placeholder="79">
    <br>

    <label class="label" for="gender">Gender</label>
      <input type="text" name="user[gender]" placeholder="dude">
    <br>

    <label class="label" for="bio">Bio</label>
      <input type="text" name="user[bio]" placeholder="Lakers all day, everyday.">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>
  </div>
</div>
<%end%>
