<% if current_user %>
    <%= erb :'/user/user_profile' %>
<%else %>
  <div class="nav_bar">
    <a href="/">Login </a>| <a href="/signup" id="signup">Signup</a><br><br>
    <form action="/login" method="POST">
  </div>
  <div class="container">
    <font color="black">email:</br>
    <input type="text" name="user[email]"></br></br>
    Password:</br>
    <input type="password" name="user[password]"> </br>
    <br><Br>
    <input type="submit" value="Login!" id="button">
    </form>
<%end %>
  </div>




